.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 75%;
    margin-top: 25px;
    border-radius: 4px;
}

.title-review {
    display: inline-block;
    text-align: left;
    border-bottom: solid black;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.sub-title {
    flex: 1;
    display: flex;
}

.title-divider {
    width: 65%;
    height: auto;
    display: inline-block;
}

.review-content {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.rating {
    text-align: right;
}